@model RentACar.Models.Marka
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Marka Ekleme</h2>
                    <div class="clearfix"></div>
                </div>


                <div class="x_content">
                    <form action="Create" method="post" enctype="multipart/form-data" class="form-horizontal form-label-left" novalidate="">
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Marka <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @*@Html.DropDownListFor(model => model.MarkaId, new SelectList(ViewBag.MarkaGetir, "MarkaId", "MarkaAdi"), "Lütfen Seçiniz", new { @class = "form-control col-md-7 col-xs-12", id = "MarkaID", name = "MarkaID" })*@
                                <select name="TypId" id="TypId" class="form-control select2" style="width:100%" required onchange="chngSelect(this)">
                                    <option selected disabled value="">Select</option>
                                  @foreach (var mrk in ViewBag.MarkaGetir)
                                  {<option value="@mrk.MarkaId">@mrk.MarkaAdi</option>

                                  }
                                </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ModelAdi">
                                Model Adı <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="ModelAdi" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="ModelAdi" required="required" type="text">
                            </div>

                        </div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">

                                @*@Html.ActionLink("Geri Dön","List",new { @class= "btn btn-primary" })*@
                                <a href="~/Model/List" class="btn btn-success">Geri Dön</a>
                                <button id="Create" value="Create" type="submit" class="btn btn-success">Ekle</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>