@model RentACar.Models.VM.RezervasyonViewModel
    @{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="right_col">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Rezervasyon Ekleme</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form action="Create" method="post" enctype="multipart/form-data" class="form-horizontal form-label-left" novalidate="">

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveTarih">
                               Rezervasyon Tarihi<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" name="RezerveTarih"  id="RezerveTarih"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveSure">
                                Rezervasyon Süresi <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="RezerveSure" class="form-control" data-validate-length-range="6" data-validate-words="2" name="RezerveSure" required="required" type="text">
                            </div>
                        </div>
                     
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveTarih">
                                Rezervasyon Tarihi<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" name="RezerveBitisTarihi" id="RezerveBitisTarihi" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Müşteri Adı Soyadı <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.MusteriId, new SelectList(ViewBag.MusteriGetir, "MusteriId", "AdiSoyadi"), "Lütfen Seçiniz", new { @class = "form-control", id = "MusteriID", name = "MusteriID" })
                            
                            </div>
                        </div>
                     
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Araç Plaka <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.AracId, new SelectList(ViewBag.AracGetir, "AracId", "Plaka"), "Lütfen Seçiniz", new { @class = "form-control", id = "AracID", name = "AracID" })
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveUcret">
                                Tutar <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="RezerveUcret" class="form-control" data-validate-length-range="6" data-validate-words="2" name="RezerveUcret" required="required" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveUcretBirimi">
                                Tutar Cinsi <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="RezerveUcretBirimi" name="RezerveUcretBirimi" class="form-control">
                                    <option value="Türk Lirası">Türk Lirası</option>
                                    <option value="Euro">Euro</option>
                                    <option value="Dolar">Dolar</option>
                                </select>
                            </div>
                        </div>                   
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">

                                @*@Html.ActionLink("Geri Dön","List",new { @class= "btn btn-primary" })*@
                                <a href="~/Marka/List" class="btn btn-success">Geri Dön</a>
                                <button id="Create" value="Create" type="submit" class="btn btn-success">Ekle</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>


</div>
<script>

    //$(function () {
    //    $("[type=datetime]").datepicker({
    //        closeText: 'Fechar',
    //        prevText: '',
    //        nextText: '',
    //        currentText: 'Hoje',
    //        monthNames: ['Janeiro', 'Fevereiro', 'Mar&ccedil;o', 'Abril', 'Maio', 'Junho',
    //        'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    //        monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun',
    //        'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
    //        dayNames: ['Domingo', 'Segunda-feira', 'Ter&ccedil;a-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sabado'],
    //        dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
    //        dayNamesMin: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
    //        weekHeader: 'Sm',
    //        dateFormat: 'dd/mm/yy',
    //        firstDay: 0,
    //        isRTL: false,
    //        showMonthAfterYear: false,
    //        yearSuffix: '',
    //        changeMonth: true,
    //        changeYear: true
    //    });
    //});


    //$(function () {
    //    $('input[name="RezerveTarih"]').daterangepicker({
    //        singleDatePicker: true,
    //        showDropdowns: true,
    //        minYear: 2014,
    //        maxYear: parseInt(moment().format('YYYY'), 10),   
    //    });
    //});

    //$(function () {
    //    $('input[name="RezerveBitisTarihi"]').daterangepicker({
    //        singleDatePicker: true,
    //        showDropdowns: true,
    //        minYear: 2014,
    //        maxYear: parseInt(moment().format('YYYY'), 10),
    //    });
    //});

</script>