@model RentACar.Models.VM.RezervasyonViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>*@

<div class="right_col">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Rezervasyon Ekleme</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form action="Create" method="post" enctype="multipart/form-data" class="form-horizontal form-label-left" novalidate="">

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveTarih">
                                Rezervasyon Tarihi<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group date form_datetime" data-date-format="dd MM yyyy" data-link-field="dtp_input1">
                                    <input name="RezerveTarih" class="form-control" type="text">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span style="margin-left:5px;font-size:25px;font-weight:normal;color:grey;" class="glyphicon glyphicon-calendar fa fa-calendar "></span></span>
                                </div>
                            </div>
                        </div>

                        @*<div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveSure">
                                Rezervasyon Süresi <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="RezerveSure" class="form-control" data-validate-length-range="6" data-validate-words="2" name="RezerveSure" required="required" type="text">

                            </div>
                        </div>*@

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveTarih">
                                Rezervasyon Tarihi<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group date form_datetime" data-date-format="dd MM yyyy" data-link-field="dtp_input1">
                                    <input id="RezerveBitisTarihi" class="form-control" type="text" value="" name="RezerveBitisTarihi" required="required">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span style="margin-left:5px;font-size:25px;font-weight:normal;color:grey;" class="glyphicon glyphicon-calendar fa fa-calendar "></span></span>
                                </div>

                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Müşteri Adı Soyadı <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.MusteriId, new SelectList(ViewBag.MusteriGetir, "MusteriId", "AdiSoyadi"), "Lütfen Seçiniz", new { @class = "form-control", id = "MusteriID", name = "MusteriID" })

                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Araç Plaka <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.AracId, new SelectList(ViewBag.AracGetir, "AracId", "Plaka"), "Lütfen Seçiniz", new { @class = "form-control", id = "AracID", name = "AracID" })
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveUcret">
                                Tutar <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="RezerveUcret" class="form-control" data-validate-length-range="6" data-validate-words="2" name="RezerveUcret" required="required" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveUcretBirimi">
                                Tutar Cinsi <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="RezerveUcretBirimi" name="RezerveUcretBirimi" class="form-control">
                                    <option value="Türk Lirası">Türk Lirası</option>
                                    <option value="Euro">Euro</option>
                                    <option value="Dolar">Dolar</option>
                                </select>
                            </div>
                        </div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">

                                @*@Html.ActionLink("Geri Dön","List",new { @class= "btn btn-primary" })*@
                                <a href="~/Rezervasyon/List" class="btn btn-success">Geri Dön</a>
                                <button id="Create" value="Create" type="submit" class="btn btn-success">Ekle</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>



</div>
<script>
        $(document).ready(function () {
            $.fn.datetimepicker.dates['tr'] = {
                days: ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi", "Pazar"],
                daysShort: ["Pz", "Pzt", "Sal", "Çrş", "Prş", "Cu", "Cts", "Pz"],
                daysMin: ["Pz", "Pzt", "Sa", "Çr", "Pr", "Cu", "Ct", "Pz"],
                months: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                monthsShort: ["Oca", "Şub", "Mar", "Nis", "May", "Haz", "Tem", "Ağu", "Eyl", "Eki", "Kas", "Ara"],
                today: "Bugün",
                suffix: [],
                meridiem: []
            };

            $(".form_datetime").datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'tr',
                minView: 'decade',
            }).datetimepicker('setDate', new Date()).datetimepicker('update');
        });
</script>